body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(212, 239, 255), rgb(0, 138, 202));
    height: 2000px;

}

.box{
    width: 40%;
    display: block;
    flex-flow: column wrap;
    margin: auto;
}

fieldset{
    border: 3px solid rgb(42, 46, 44);
    border-radius: 15px;
    
}

legend{
    border: 1px solid rgb(0, 21, 43);
    padding: 10px;
    background-color: rgb(212, 234, 255);
    border-radius: 8px;
    font-size: 19px;
}

.header{
    align-items: center;
}

h2{
    justify-content: center;
    display: grid;
    flex-flow: column wrap;
    font-size: 30px;
}

.buscar{
    display: flex;
    flex-flow: column wrap;
    max-width: 1000px;
    padding: 0 30em;
    margin: 3em auto;
}

.foto img{
    height: 15%;
    padding: 30px;
    position: absolute;
}


.dados{
    display: absolute;
    justify-content: center;
}

.db-text{
    font-weight: 100;
    font-size: 23px;
    color: black;

}

p{
    color: rgb(0, 80, 126);
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

/*Barra de Pesquisa*/

.cpf_busca{
    border-radius: 50px;
    height: 35px;
    width: 40%;
    margin: auto;
    background-color: rgb(0, 80, 126);
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    padding-left: 15px;

}

.busca{
    border-radius: 15px;
    height: 30px;
    width: 20%;
    margin: auto;
    background-color: rgb(0, 80, 126);
    color: white;
    font-size: 17px;
}