:root{
    --primary-color: #E1ADDC;
}

*{
    padding: 0px;
    margin: 0px;
}

h2{
    justify-content: center;
    display: grid;
    flex-flow: column wrap;
}

.buscar{
    display: flex;
    flex-flow: column wrap;
    max-width: 1000px;
    padding: 0 30em;
    margin: 3em auto;
}

.teste_pesquisa{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}


legend{
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 8px;
}

.header{
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 0.4fr 2fr;
}

.foto img{
    height: 15%;
    padding: 30px;
}

.name{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}
