body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(166, 224, 255), rgb(227, 254, 255));
    height: 2000px;

}

.box{
    display: block;
    flex-flow: column wrap;
    margin: auto;
}

fieldset{
    border: 5px solid rgb(22, 47, 71);
    border-radius: 15px;
    
}

legend{
    border: 1px solid rgb(22, 47, 71);
    padding: 10px;
    background-color: rgb(22, 47, 71);
    border-radius: 8px;
    font-size: 19px;
    
}

legend > b{
    color: white;
}

.header{
    align-items: center;
    color: black;
}

h2{
    justify-content: center;
    display: grid;
    flex-flow: column wrap;
    font-size: 30px;
}

.buscar{
    display: flex;
    flex-flow: column wrap;
    max-width: 1000px;
    padding: 0 30em;
    margin: 3em auto;
}

.foto img{
    height: 15%;
    padding: 30px;
    position: absolute;
}


.dados{
    display: absolute;
    justify-content: center;
}

.db-text{
    font-weight: 100;
    font-size: 23px;
    color: black;

}

p{
    color: rgb(0, 69, 134);
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.fundo{
    background-color: rgb(212, 234, 255);
    width: 50%;
    margin: auto;
    padding: 25px;
    border-radius: 35px;
}

.lado-esquerda{
    padding: 20px;
}

.lado-direito{
    padding: 20px;
}

.ficha-box{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/*Barra de Pesquisa*/

.cpf_busca{
    border-radius: 50px;
    height: 35px;
    width: 40%;
    margin: auto;
    background-color: rgb(0, 80, 126);
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    padding-left: 15px;

}

.busca{
    border-radius: 15px;
    height: 30px;
    width: 20%;
    margin: auto;
    background-color: rgb(0, 80, 126);
    color: white;
    font-size: 17px;
}

/* Parte escondida*/

.content{
    display: flex;
    justify-content: center;
}

.history{
    display: flex;
    margin: auto;
}

i{
    color: black;
    margin: 0px auto;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

button{
    margin: auto;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(0, 69, 134) ;
    color: white;
    letter-spacing: 1.5px;

}